<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    |<menu class="toolBut q">
        <li id="toolHome" sorts="10" style="width:25%;padding-bottom: 10px;">
            <a id="index" href="/Main.html">
                <i class="iconfont_menu">&#xe611;</i>
                <p>首页</p>
            </a>
        </li>
        <li id="toolCommunity" sorts="7" style="width:25%;padding-bottom: 10px;">
            <a href="Community.html">
                <i class="iconfont_menu">&#xe614;</i>
                <p>社区</p>
            </a>
        </li>
        <li id="toolShoppingCar" sorts="8" style="width:25%;padding-bottom: 10px;">
            <a href="Cart.html">
                <i class="iconfont_menu">&#xe60c;</i>
                <p>购物车</p>
            </a>
        </li>
        <li id="toolMember" sorts="9" style="width:25%;padding-bottom: 10px;">
            <a href="My.html">
                <i class="iconfont_menu">&#xe60e;</i>
                <p>我的</p>
            </a>
        </li>
    </menu>|
</body>
</html>

